h1 {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    text-align: center;
}

.hidden {
  opacity: 1;
}

.visible {
  opacity: 1;
  transition: all 3s;
  
}
.home-title-section{
  height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}

.purple {
  background-color: #9a74ff;
}

.green {
  background-color: var(--pastel-green);
}

.home-title-text-1 {
    font-size: 100px;
    font-weight: 700;
}

.test {
  height: 1000px;
  overflow: visible;
  position: relative;
}

.home-title-introduction{
    height: 200px;
    width: 200px;
    margin-bottom: 200px;
    text-align: center;
    z-index: 10;
    
}


.home-title-background{
  top: 0;
  height: 50%;
  width: 100%;
  position: absolute;
}


.home-body-section {
  height: 400vh;
  width: 100%;
  background-color: black;
  position: relative;
  z-index: 0;
  
}


.home-body-intro {
  background-color: black;
  padding-bottom: 30px;
  
}


.home-body-content {
  margin-top: -50px;
  padding-bottom: 150px;
  height: 500px;
  display: flex;
  justify-content: center;
  position: relative;
  gap: 10vw;
  z-index: 0;
}

.home-body-content-description {
  height: 576px;
  width: 576px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 50;
  

}
.home-body-content-description p {
  text-align: center;
  width: 70%;
}



.black-text {
  color: black;
  z-index: 100;
}

.home-body-content-graphic {
  height: 576px;
  width: 576px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.bg-blob {
  position: absolute;
  object-fit: fill;

  width: 140%;
  height: 100%;
  z-index: 23;
  left: -20%;
  top: 0;
}
.bg-blob-2 {
  position: absolute;
  object-fit: fill;

  width: 150%;
  height: 110%;
  z-index: 22;
  left: -25%;
  top: 0;
}

.bg-blob-3 {
  position: absolute;
  object-fit: fill;

  width: 140%;
  height: 100%;
  z-index: 21;
  left: -18%;
  top: 0;
}

.grid {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 7%;
  padding:80px;
  box-sizing: border-box;


}

.code-bg {
  position: absolute;
  object-fit: contain;
  width: 125%;
  height: 125%;
  left:-12%;
  top: -12%;
}

.code-grid-item {
  height: 100%;
  width: 100%;
  border: 10px;
  border-radius: 10px;
  border-style:solid;
  border-color: #99da99;
  background-color: black;
  box-sizing: border-box;
  z-index: 10;
}


$amount: 6;
.rel {
  position: relative;
}

.home-body-content-graphic span {
  position: absolute;
  height: 40%;
  width: 70%;

  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      
      left: $i*8%;
      top: $i*8%;

    }
  }
}

.home-body-content-graphic span:hover {
  transform: translate(0, -150px);
  transition: transform 0.5s;
  padding-bottom: 150px;
}

.grid div:hover {
  transform: scale(1.5, 1.5);
  transition: transform 0.3s;
  z-index: 40;
  
  background-color: white;

}

.code-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.teach-image {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 1200px) {
  .home-body-content {
    flex-direction: column;
    height: 1200px;
    align-items: center;
  }

}

