:root {
  --pastel-purple: #9a74ff;
  --pink-purple:#d48aff;
  --pastel-green:#D1FFB9;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spacer-250 {
  position: relative;
  aspect-ratio: 960/250;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  z-index: 20;
}

.spacer-200 {
  position: relative;
  aspect-ratio: 960/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 20;
  
}

.wave-1 {
  background-image: url("../public/images/wavesPurple2.svg");
}

.wave-2 {
  background-image: url("../public/images/waves2.svg");
}
.wave-black-purple {
  background-image: url("../public/images/blackpurplewaves.svg")
}

.wave-purple-green {
  background-image: url("../public/images/purplegreenwaves5.svg")
}

.wave-green-purple {
  background-image: url("../public/images/greenpurplewaves1.svg")
}

.wave-purple-black {
  background-image: url("../public/images/purpleblackwaves.svg");
  margin-top: -200px;
}

.blob-1 {
  background-image: url("../public/images/blob1.svg");
  background-size: cover;
}